<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Help Desk</mat-card-title>
        <mat-card-subtitle>Programador Junior</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Image Home Help Desk">
    <mat-card-content>
        <p>
            Olá! Seja bem vindo ao sistema Help Desk desenvolvido por mim com o auxilio do professor Valdir Cezar, no curso Full
            Stack de Java com o framework Spring Boot e o Banco de dados Postgres, ja para o frontend utilizando o Angular CLI na
            versão 12.0.1, com o apoio do angular material para ter facilidade com os componentes do sistema e possa ser reutilizado
            codigos com uma maior facilidade.
        </p>
    </mat-card-content>
</mat-card>